<div class="row my-2">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <%= link_to link.destination, link.destination %>
        <p class="card-text"><%= link.description %></p>
      </div>
    </div>
  </div>
</div>
