<div class="card-body" style="text-align: center;">
  <%= link_to upvote_path(link), 
    method: :patch,
    remote: true do %>
    <i class="fas fa-arrow-up"></i>
  <% end %>
  <span class="badge badge-primary"><%= link.score %></span>
  <%= link_to downvote_path(link), 
    method: :patch,
    remote: true do %>
    <i class="fas fa-arrow-down"></i>
  <% end %>
</div>
